.contact {
  max-width: 800px;
  margin: 0 auto;
  transition: all ease-in-out 0.3s;
}
.contact-wrap {
  padding: 30px 0;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-attachment: scroll;
  background-size: cover;
}
.contact-link a:hover {
  color: #C5A059;
}
