.body {
  font-family: 'Lato', sans-serif;
}

.each-slide-effect > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 350px;
}

.each-slide-effect span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}

/*for advanced banner */
/*.headline {*/
/*  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
/*  font-weight: 100;*/
/*  font-size: 10vw;*/
/*}*/

.inset {
  position: absolute;
  inset: 0;
}
.white {
  color: white;
}
.gray {
  color: #446;
}

.full {
  height: 100vh;
}
button.nav.default-nav {
  display:none;
}

/*.center {*/
/*  display: flex;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*}*/

.gradient {
  background: linear-gradient(rgba(138, 138, 138, 0) 50%, rgba(0, 0, 0, 0.66));
}
